*{
    padding: 0;
    margin: 0;

}
body{
    display: grid;
    grid-template-areas:
    "cabeza cabeza cabeza cabeza"
    "cuerpo cuerpo cuerpo cuerpo"
    "cuerpo cuerpo cuerpo cuerpo"
    "cuerpo cuerpo cuerpo cuerpo"
    "cuerpo cuerpo cuerpo cuerpo"
    "pie pie pie pie"
    ;
    }
    