.bg{
    background-color: map-get($colores, bg );
}


h1{
    color: map-get($colores , primario );
    &:hover {
        color: map-get($colores , hover )
    }
}


.encabezado{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        flex-direction: column;
        grid-area:cabeza;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.textoLiquidacion{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    font-family: $letraSecundaria;
    font-size: 300%;
    font-weight: bolder;
    color: map-get($colores, hover );
    text-decoration: underline;
}

.cuerpo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top:65px;
    grid-area: cuerpo;
}

#titulo{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 450%;
    font-family: $letraPrincipal;
    padding-top: 2%;
    color: map-get($colores , primario );
    font-weight: lighter;
    margin-top: 20%;
    transition: all 1s;
    margin-bottom: 0;
}
.tituloTarjetas{
    font-size: 390%;
    font-weight: lighter;
    color: map-get($colores, primario);
    transition: all 1s;
    font-family: $letraPrincipal;
    &:hover{
        color: map-get($colores, hover )
    }
}
.bordeTarjeta{
    gap: 10%;
}

.card-title{
    font-family: $letraPrincipal;
    font-size: 150%;
    color: #000000;
    transition: all 1s;
    &:hover{
        color: map-get($colores, primario)
    }
}

.textoCard{
    margin: auto;
    font-size: 110%;
    text-align: center;
    transition: all 1s;
    &:hover{
        color: #9d938e;
        font-size: 112%;
    }
}

.fotosCard{
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.bottom{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: map-get($colores, bg );
    font-size: 30px;
    font-family:$letraSecundaria;
    align-items: center;
    grid-area: pie;
}

.itemsFooter{
    list-style: none;
    font-family: $letraPrincipal;
    font-size: 65%;
    transition: all 0,5s;
    &:hover{
        color: map-get($colores, primario);
        font-size: 70%;
    }
}

#redes{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding: 2px;
    font-size: 25px;
    margin: 0;
}

#facebook{
    color: map-get($colores, primario );
    font-size: 80%;
    transition: all 0,5s;
    &:hover{
        color: map-get($colores, hoverFacebook );
        font-size: 85%;
    }
}

#instagram{
    color: map-get($colores, primario );
    font-size: 80%;
    transition: all 0,5s;
    &:hover{
        color: map-get($colores, hoverInstagram);
        font-size: 85%;
    }
}
#whatsapp{
    color: map-get($colores, primario);
    font-size: 80%;
    transition: all 0,5s;
    &:hover{
        color: map-get($colores, hoverWhatsapp );
        font-size: 85%;
    }
}
#textoFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: map-get($colores, primario );
    font-size: 60%;
    margin-bottom: 0;
}
.seccionesFooter{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.seccionesFooter,li,a{
    text-decoration: none;
    color: map-get($colores, primario );
    font-size: 80%;
    flex-direction: column;
    margin-bottom: 8px;
    margin-top: 10px;
    transition:all 0,5s ;
    &:hover{
        color: map-get($colores, secundario );
    }
}

