
.contenedorTrabajo{
    display: flex;
    flex-direction: row;
}
.fotoTrabaja{
    width: 100%;
    border-radius: 2%;
    margin-bottom: 5%;
    margin-top: 0;
    margin-left: 1%;
    -webkit-box-shadow: inset -1px 3px 8px 5px #676862, 2px 5px 16px 0px #4d535a, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px #676862, 2px 5px 16px 0px #4d4f52, 5px 5px 15px 5px rgba(0,0,0,0);
}
.textFormu{
    text-align: center;
    font-family: $letraPrincipal;
    margin:auto;
    margin-bottom: 3%;
    font-size: 215%;
    font-family: $letraPrincipal;
    color: map-get($colores, secundario)
}
.formulario{
    width: 100vh;
    align-items: center;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
    font-family: $letraPrincipal;
    border-radius: 15px;
    padding: 2px;
    border: none;
    color: #BFB8FF;
} 
.formularioNombre{
    color: map-get($colores, secundario );
    font-size: 100%;
    margin-top: 2%;
    margin-bottom: 10%;
    text-align: center;
}
#nombre{
    width: 90%;
    align-items: flex-end;
    border-radius: 5px;
    gap:10px;
    border: none;
    background-color: map-get($colores, hover );
    &:hover{    
        background-color: map-get($colores, bg );
        border: none;
}
}
.formularioApellido{
    color: map-get($colores, secundario);
    font-size: 100%;
    margin-top: 2%;
    margin-bottom: 10%;
    text-align: center;
}

#apellido{
    width: 90%;
    align-items: flex-end;
    border-radius: 5px;
    gap:10px;
    border: none;
    background-color: map-get($colores, hover );
    &:hover{    
        background-color: map-get($colores, bg );
        border: none;
}
}
.formularioEmail{
    color: map-get($colores, secundario );
    font-size: 100%;
    margin-top: 2%;
    margin-bottom: 10%;
    text-align: center;
}

#emailcv{
    width: 95%;
    align-items: flex-end;
    border-radius: 5px;
    gap:10px;
    border: none;
    background-color: map-get($colores, hover );
    &:hover{    
        background-color: map-get($colores, bg );
        border: none;
}
}

.formularioCv{
    color: map-get($colores, secundario);
    font-size: 100%;
    margin-top: 2%;
    margin-bottom: 10%;
    text-align: center;
}

#botonform{
    width: 20%;
    border-radius: 5px;
    gap:10px;
    border: none;
    background-color: map-get($colores, hover );
    &:hover{    
        background-color: map-get($colores, bg );
        border: none;
}
}

